.header, #menu, #middlebar, #sidebar, .footer { 
    padding: 10px;
    border: solid 1px #000;
    background: #4682B4;
}
.header {
	height: 120px;
	text-align: center;
	color: red;
	font-size: 50px;
	}
.container {

	margin: 15px 0;
	}
#menu {
	width: 11%;
	padding: 15px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
		}
#menu ul{
	list-style: none;
	padding: 0;
}		
#middlebar {
	margin-left: 15px;
	box-sizing: border-box;
	width: 67%;
	padding: 15px;
	display: inline-block;
	vertical-align: top;
	}
#sidebar{
	text-align: center;
	padding: 15px;
	width: 15%;
	box-sizing: border-box;
	margin-left: 15px;
	display: inline-block;
	vertical-align: top;
}
.clear
{
	clear: both;
}
@media screen and (max-width: 768px) {
	#menu, #middlebar, #sidebar {
	padding: 15px;	
	width: 100%;
	float: center;
	box-sizing: border-box;
	margin: 5px 0;
	}
	.header { 
	height: 60px;
	font-size: 20px;	
	}
}
.footer {
	height: 60px;
	margin-top: 15px;
}